/** !! Importante  o último elemento sempre será o selecionado*/

/* Seleciona todos os elementos*/
*{
  text-transform: uppercase;
  color: orange;
}

/* Seleciona apenas o elemento <div>*/
div {
  background: #bbb;
  height: 200px;
  width: 200px;
  margin-bottom: 20px;
}

/* Seleciona o elemento <a> dentro do elemento <div>*/
div p{
  color: red;
}

/* Seleciona o elemento <p> dentro da div e o elemento <a> que está fora da <div>*/
div p, a {
  color: purple;
  font-size: 20px;
}

/* ID - só deve utilizar apenas um por HTML*/
#principal{
 width: 100px;
 background: #dedede;
}

.btn-comprar a{
  color: #000 ;
  text-decoration: none ;
  font-weight: bold;
}

/* HOVER adiciona um estilo na tag <a> ao passar o mouse em cima*/
a:hover{
  font-size: 40px;
  color: red;
  background: blue;
}

a:visited{
  color: yellow;
}